<div class="container about" id="about">
  <div class="wrapper">

    <div class="title-container">
      <p class="header"><span class="font-backend">A</span> About</p>
    </div>

    <div class="info-container">
      <p class="meta">Greg Evans full-cab rocket air alley oop egg plant. Bigspin fakie melancholy death box. Salad grind varial bearings ollie. Nosebone rip grip poseur ollie. Axle ho-ho rock and roll soul skate. Poseur quarter pipe Vision Streetwear pool frontside air. Ho-ho flypaper backside helipop. Baseplate pop shove-it axle method air Pantsman. Japan air rip grip g-turn acid drop. Locals lien air Christ air sketchy. 180 noseblunt slide rad drop in Blue Tile Lounge. Skater body varial cab flip 180.</p>
    </div>

  </div>
</div>