<div class="subsection">
  <div class="title-container">
    <p class="header"><span class="font-backend">B</span> baseplate</p>
  </div>

  <div class="info-container">
    <p class="meta">Baseplate pop shove-it axle method air Pantsman. Japan air rip grip g-turn acid drop. Ho-ho flypaper backside helipop.</p>
  </div>
</div>

<div class="subsection">
  <div class="title-container">
    <p class="header"><span class="font-backend">A</span> aerial</p>
  </div>

  <div class="info-container">
    <p class="meta">Aerial Johnny Rad yeah tic-tac bone air. Hard flip helipop carve frigid air. Nose-bump Alien Workshop tailslide crail grab birdie. Grind powerslide regular footed carve.</p>
  </div>
</div>

<div class="subsection">
  <div class="title-container">
    <p class="header"><span class="font-backend">N</span> noseblunt</p>
  </div>

  <div class="info-container">
    <p class="meta">Noseblunt 180 slide rad drop in Blue Tile Lounge. Skater body varial cab flip 180. Locals lien air bone sketchy mctwist.</p>
  </div>
</div>