<div class="container about" id="about">
  <div class="wrapper">

    <div class="title-container">
      <p class="header"><span class="font-backend">A</span> About</p>
    </div>

    <div class="info-container">

    </div>

  </div>
</div>