<div class="container about" id="about">
  <div class="wrapper">
    <hr>
    <div class="title-container">
      <p class="header"><span class="font-backend">A</span> About</p>
    </div>

    <div class="info-container">
      <p class="meta">Baseplate pop shove-it axle method air Pantsman. Japan air rip grip g-turn acid drop. Ho-ho flypaper backside helipop.</p>
      <br>
      <p class="meta">Locals lien air bone sketchy mctwist. 180 noseblunt slide rad drop in Blue Tile Lounge. Skater body varial cab flip 180.</p>
    </div>

  </div>
</div>