<div class="container footer">
  <div class="wrapper">

      <p>Copyright 2015 © Made In Music | All Rights Reserved</p>
      <ul>
        <li><a href="/keystone"><i class="fa fa-user"></i></a></li></li>
        {{#if user}}
        <li><a href="/keystone/signout">Logout</a></li>
        {{else}}
        <li><a href="/keystone/signin">Login</a></li>
        {{/if}}
      </ul>

  </div>
</div>

<div class="dmtop">Scroll to Top</div>