<div class="container footer">
  <div class="wrapper">

      <ul>
        <li><a href="/keystone"><i class="fa fa-user"></i></a></li></li>
        {{#if user}}
        <li><a href="/keystone/signout">Sign Out</a></li>
        {{else}}
        <li><a href="/keystone/signin">Sign In</a></li>
        {{/if}}
      </ul>
      <p>Copyright 2015 © Made In Music | All Rights Reserved</p>

  </div>
</div>

<div class="dmtop">Scroll to Top</div>