<div class="container footer-links">
  <div class="wrapper">
    <div class="links-container">
      <a href="http://twitter.com/musicinsider"><i class="fa fa-twitter"></i></a>
      <a href="mailto:madeinmusicpodcast@gmail.co"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>