<div class="container landing">
  <div class="wrapper">

    <div class="image-container">
      <img class="img-scale" src="/img/mi-logo-800.png">
    </div>


    <div class="btn-container">
      <p class="subhead">Made In Music</p>
      <button class="btn-red"><p>Stream Now</p></button>
    </div>

    <div class="description-container">
      <p class="meta">Made In Music delivers inspiring interviews of successful industry experts, artists, and songwriters, sharing their “before we made it” stories</p>
    </div>

  </div>
</div>