<nav class="container navbar">
  <div class="wrapper">
    <ul class="navbar-links">
      {{# each navLinks}}
      <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
        <a href="{{ href }}">{{ label }}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>