<div class="pagination">
  <ul>
    <li {{#unless data.posts.previous}}class="disabled"{{/unless}}>
      <a href="{{paginationPreviousUrl data.posts.previous}}">
        <i class="fa fa-chevron-left"></i>
      </a>
    </li>
      {{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
    <li {{#unless data.posts.next}}class="disabled"{{/unless}}>
      <a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}">
        <i class="fa fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>