<ul>
  <li><a href="/keystone"><i class="fa fa-user"></i></a></li></li>
  {{#if user}}
  <li><a href="/keystone/signout">Logout</a></li>
  {{else}}
  <li><a href="/keystone/signin">Login</a></li>
  {{/if}}
</ul>