.about {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 100px; }
  /* line 4, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
  .about .about-content {
    margin-bottom: 15px;
    font-family: "Dosis";
    color: #000;
    text-transform: uppercase;
    height: 100%; }
  /* line 11, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
  .about .about-img-container {
    display: none; }
    @media (min-width: 768px) {
      /* line 11, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
      .about .about-img-container {
        display: block;
        width: 350px;
        height: 350px; }
        /* line 17, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
        .about .about-img-container .about-img {
          border-radius: 50%;
          background-size: cover;
          padding: 50%; } }
  /* line 24, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
  .about .lead {
    line-height: 1.8em; }
  /* line 27, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
  .about li .lead {
    font-size: 17px; }
  /* line 30, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_about.scss */
  .about .emphasis {
    padding: 20px;
    font-size: 25px;
    text-align: center; }
