.about {

  .title-container {
    padding-top: 30px;
    margin-top: 40px;         // Margins here make up for lack of
    margin-bottom: 40px;      // height due to absolute positioning
  }

  .info-container {
    margin-top: 20px;
  }

  .meta {
    font-size: 18px;
  }

}