.blog-items {
  width: 66%;
  display: inline-block;
  margin-top: 20px;
}

.blog-item {

  .subhead {
    font-size: 24px;

    a {
      text-decoration: none;
      color: @black;
      .transition(0.3s);
    }

    &:hover a {
      color: @white;
    }
  }
}