.blog-item {
  background-color: #ffffff;
  margin-bottom: 15px;
  border-radius: 2px;
  padding: 25px;
  border-bottom: 1px solid #d0d2d3;
  border-right: 1px solid #e6e7e8; }
  /* line 8, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/blog/_posts.scss */
  .blog-item .blog-header {
    text-transform: uppercase; }
  /* line 11, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/blog/_posts.scss */
  .blog-item a {
    text-decoration: none; }
  /* line 15, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/blog/_posts.scss */
  .blog-item .blog-img img {
    float: right;
    max-width: 200px; }

/* line 2, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/blog/_single.scss */
.single-post .row.container-post {
  border: 1px solid #ffffff;
  padding: 25px; }
  /* line 5, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/blog/_single.scss */
  .single-post .row.container-post .post-header {
    text-transform: uppercase;
    color: #cfe7f0; }