.blog {

  .title-container {
    text-align: center;
    padding-top: 20px;
  }

  .img-backend img {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @sm) {
    margin-top: 40px;
  }


  .stats-container {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: right;

    @media (min-width: @sm) {
      margin-top: 30px;

    }

    .meta {
      font-size: 12px;

      @media (min-width: @sm) {
        font-size: 14px;
      }
    }

  }
}