.categories {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  text-align: right;

  .subhead {
    font-size: 22px;
  }

  .meta,
  .meta .btn-red {
    margin-top: 5px;
    font-size: 16px;
    height: 30px;

    a {
      text-decoration: none;
    }
  }

}