.contact {

  .title-container {
    padding-top: 20px;
    padding-bottom: 40px;

    .img-backend {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  img {
    width: 90px;
  }

  .form-container {
    margin-top: 15px;
  }
}