.footer {
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 20px;
  color: #40768c;
}

.contact {
  background: #000;
  color: #ffffff;
  font-family: "Raleway";
  list-style-type: none; }
  /* line 6, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_contact.scss */
  .contact .social-icons a {
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    width: 40px;
    height: 40px;
    outline: none;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin-left: 10px; }
    /* line 17, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_contact.scss */
    .contact .social-icons a:hover {
      border: 1px solid #dd4438;
      color: #dd4438; }
  /* line 22, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_contact.scss */
  .contact ul {
    padding-left: 0; }
    /* line 24, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_contact.scss */
    .contact ul li {
      list-style: none;
      margin-bottom: 8px;
      font-size: 16px; }
      /* line 28, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_contact.scss */
      .contact ul li a {
        color: #cfe7f0;
        text-decoration: none; }
        /* line 31, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_contact.scss */
        .contact ul li a:hover {
          color: #dd4438; }