.landing {

  .btn-container {
    display: block;
    width: 100%;
    text-align: center;

  }

  .btn-red {
    cursor: pointer;
    height: 70px;
    text-decoration: none;
    font-size: 22px;
  }

}