.landing {

  .description-container {
    margin-top: 40px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: @sm) {
      float: right;
      width: 50%;
    }

    .meta {
      line-height: 1.7em;
      font-size: 22px;
    }

  }
}