#body {
  min-height: 70vh;
}

.landing {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: @standard;
  overflow: auto;


  .text-container {
    float: right;
    width: 50%

  }



  .subhead {
    font-family: @sans-serif;
    text-transform: uppercase;
    font-size: 24px;
  }

  .meta {
    font-size: 18px;
  }
}