.landing .btn-container {
    display: block;
    width: 100%;
    text-align: center;

    @media (min-width: @sm) {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }


  .btn-red {
    cursor: pointer;
    height: 70px;
    text-decoration: none;
    font-size: 22px;
  }

}