.landing {

  .image-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;

    .inner-text {
      position: absolute;
      top: 25px;
      left: -4px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      @media (min-width: @iphone6) {
        top: 44px;
      }
    }

    .subhead {
      color: @standard-dark;
      font-size: 23px;
      font-family: @sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      text-shadow: 14px 10px 4px #cfe7f0, 1px 2px 1px #FFF;

      @media (min-width: @iphone6) {
        font-size: 33px
      }
    }

    @media (min-width: @sm) {
      float: left;
      width: 40%;
      text-align: left;
    }

    .img-scale {
      width: 90px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: @iphone6) {
        width: 150px;
      }

      @media (min-width: @sm) {
        display: inline-block;
        max-width: 400px;
      }
    }
  }
}