.landing {

  .image-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;

    .inner-text {
      position: absolute;
      top: 100px;
      left: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .subhead {
      margin-left: 35%;
      text-align: left;
      font-size: 14px;
      font-family: @sans-serif;
      text-transform: uppercase;
      font-weight: 500;
    }

    @media (min-width: @sm) {
      float: left;
      width: 40%;
      text-align: left;
    }

    .img-scale {
      width: 90px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: @sm) {
        display: inline-block;
        max-width: 400px;
      }
    }
  }
}