.navbar-default {
  position: relative;
  background: #ffffff;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  top: 0;
  right: 0;
  z-index: 9000;
  transition: all 0.8s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s; }
  /* line 17, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
  .navbar-default .container-fluid {
    height: 50px;
    background: #ffffff; }
    /* line 20, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
    .navbar-default .container-fluid .navbar-header {
      height: 50px; }
      /* line 22, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-header .img-nav {
        padding-top: 5px;
        width: 40px; }
      /* line 26, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-header .navbar-toggle {
        padding: 0;
        padding-right: 15px;
        margin: 0;
        height: 50px;
        border: none;
        background: none; }
    /* line 35, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
    .navbar-default .container-fluid .navbar-nav {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 19px;
      font-family: "Raleway";
      color: #40768c; }
      /* line 41, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-nav .navbar-right {
        background: #ffffff; }
    /* line 45, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
    .navbar-default .container-fluid .navbar-collapse {
      text-transform: uppercase;
      background: #ffffff; }
      /* line 48, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-collapse p {
        font-size: 19px;
        margin-bottom: 0; }
      /* line 52, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-collapse a {
        padding: 15px 15px 0 15px; }
      /* line 55, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-collapse .nav.navbar-nav {
        margin: 0;
        text-align: right; }
      /* line 61, /Users/evanturner/src/projects/music-insider/public/assets/css/scss/partials/app/_navbar.scss */
      .navbar-default .container-fluid .navbar-collapse li:hover a {
        color: #dd4438;
        outline: none; }