.navbar {
  background: transparent;
  font-family: @sans;
  position: relative;
  height: 50px;
  color: @black;

  @media (min-width: @sm) {
    background: @white;
  }

  ul {
    margin-top: 20px;
    float: none;
    text-align: center;

    @media (min-width: @sm) {
      margin-top: 10px;
      float: right;
    }
  }

  li {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;

    &:nth-child(4) {
      margin-right: 0;
    }
    @media(min-width: @sm) {
      font-size: 16px;
    }


    a {
      color: @standard-dark;
      vertical-align: -webkit-baseline-middle;
      text-decoration: none;
      font-size: 16px;


      @media (min-width: @sm) {

      }
    }
  }
}