.navbar {
  background: @white;
  height: 50px;
  font-family: @sans;
  position: relative;

  ul {
    margin-top: 10px;
    float: right;
  }

  li {
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
    text-transform: uppercase;

    a {
      color: @standard-dark;
      vertical-align: -webkit-baseline-middle;
      text-decoration: none;
    }
  }
}