@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

@xs:                    400px;
@sm:                    600px;
@md:                    800px;
@lg:                    1200px;
@max:                   1400px;

@serif:                 'Arimo', sans-serif;
@sans:                  'Roboto', sans-serif;
@sans-condensed:        'Roboto Condensed', sans-serif;

@white:                 #ffffff;
@whitesmoke:            #f1f1f1;
@black:                 #000000;

@standard-light:        #333333;
@standard-dark:         #031622;
@standard:              #14393d;

@grey:                  #bfbfbf;
@lightgrey:             #CDCDCD;